img {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  padding: 20px;
}

#main {
  width: 150px;
  height: 150px;
}

.rotate {
  transform: rotate(0deg);
}

/*#main:hover {
  animation: fidget-spin infinite 1s ease;
}

@keyframes fidget-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
